{% extends 'base.html' %}

{% block title %}Masuk - Bandung City{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm">
            <div class="card-header bg-success text-white text-center">
                <h4 class="mb-0"><i class="bi bi-lock-fill me-2"></i>Login Sistem</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Masuk</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <small>Belum punya akun? <a href="{% url 'register' %}">Daftar sebagai Citizen</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}